<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aircomms"
        tools:targetApi="31">
        <activity
            android:name=".airportCode.Display"
            android:exported="false"
            android:theme="@style/Theme.Aircomms"/>
        <activity
            android:name=".approach.Examples.DisplayExample"
            android:exported="false"
            android:theme="@style/Theme.Aircomms"/>
        <activity
            android:name=".approach.PseudoTMA"
            android:exported="false"
            android:theme="@style/Theme.Aircomms"/>
        <activity
            android:name=".ShareApp"
            android:exported="false"
            android:theme="@style/Theme.Aircomms">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".airportCode.Asia.Phil.International.International"
            android:exported="false"
            android:theme="@style/Theme.Aircomms">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".airportCode.Asia.Phil.Domestic.Domestic"
            android:exported="false"
            android:theme="@style/Theme.Aircomms">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".airportCode.Asia.Phil.AsiaPH"
            android:exported="false"
            android:theme="@style/Theme.Aircomms">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".airportCode.Asia.Thailand.AsiaThailand"
            android:exported="false"
            android:theme="@style/Theme.Aircomms">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".airportCode.Asia.SouthKorea.AsiaSouthKorea"
            android:exported="false"
            android:theme="@style/Theme.Aircomms">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".airportCode.Asia.Japan.AsiaJapan"
            android:exported="false"
            android:theme="@style/Theme.Aircomms">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".airportCode.Asia.Indonesia.AsiaIndonesia"
            android:exported="false"
            android:theme="@style/Theme.Aircomms">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".airportCode.Asia.India.AsiaIndia"
            android:exported="false"
            android:theme="@style/Theme.Aircomms">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".airportCode.Asia.China.AsiaChina"
            android:exported="false"
            android:theme="@style/Theme.Aircomms">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".airportCode.Asia.AirportAsia"
            android:exported="false"
            android:theme="@style/Theme.Aircomms">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Extras.Other"
            android:exported="false"
            android:theme="@style/Theme.Aircomms">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".History.History"
            android:exported="false"
            android:theme="@style/Theme.Aircomms">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Bookmark.BookmarkActivity"
            android:exported="false"
            android:theme="@style/Theme.Aircomms">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".airportCode.Europe.Airport_Europee"
            android:exported="false"
            android:theme="@style/Theme.Aircomms">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".airportCode.Australia.Airport_Australia"
            android:exported="false"
            android:theme="@style/Theme.Aircomms">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".airportCode.North.Airport_North"
            android:exported="false"
            android:theme="@style/Theme.Aircomms">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".airportCode.South.Airport_South"
            android:exported="false"
            android:theme="@style/Theme.Aircomms">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".airlineCode.Australia.Australia"
            android:exported="false"
            android:theme="@style/Theme.Aircomms">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".airportCode.Africa.Airport_Africa"
            android:exported="false"
            android:theme="@style/Theme.Aircomms">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".airportCode.AirportCode"
            android:exported="false"
            android:theme="@style/Theme.Aircomms">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".approach.STO.StraightOut"
            android:exported="false"
            android:theme="@style/Theme.Aircomms">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".approach.Arrival.Arrival"
            android:exported="false"
            android:theme="@style/Theme.Aircomms">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".approach.Departure.Departure"
            android:exported="false"
            android:theme="@style/Theme.Aircomms">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".approach.ApproachControl"
            android:exported="false"
            android:theme="@style/Theme.Aircomms">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".airlineCode.South.South"
            android:exported="false"
            android:theme="@style/Theme.Aircomms">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".airlineCode.Noth.North"
            android:exported="false"
            android:theme="@style/Theme.Aircomms">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".airlineCode.Europe.Europe"
            android:exported="false"
            android:theme="@style/Theme.Aircomms">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".airlineCode.Africa.Africa"
            android:exported="false"
            android:theme="@style/Theme.Aircomms">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".airlineCode.Asia.Asia"
            android:exported="false"
            android:theme="@style/Theme.Aircomms">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".airlineCode.AirlineCode"
            android:exported="false"
            android:theme="@style/Theme.Aircomms">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".copy"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".phonetics.Phonetics"
            android:exported="false"
            android:theme="@style/Theme.Aircomms">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Aircomms">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>